<nav class="navbar navbar-expand-lg navbar-light bg-white title">
    <div class="container">
        <h2 class="navbar-brand h2">Add Salary</h2>
        <!-- You can add additional elements here -->
    </div>
</nav>
<div class="container">
  <form class="row margin g-3 my-1 bg-light text-dark w-30 p-2">
    <div class="col-md-6">
      <label for="inputFirstName" class="form-label">Employee name</label>
      <input type="text" class="form-control" id="inputFirstName">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Month</label>
      <input type="text" class="form-control" id="inputLastName">
    </div>
    <div class="col-md-6">
        <label for="inputPhone" class="form-label">Total Working Days</label>
        <input type="text" class="form-control" id="inputPhone">
      </div>
      <div class="col-md-6">
        <label for="inputDepartment" class="form-label">Basic Salary</label>
        <input type="text" class="form-control" id="inputDepartment">
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Travel Allowance</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col-md-6">
        <label for="inputProfile" class="form-label">Total tax</label>
        <input type="password" class="form-control" id="inputProfile">
      </div>
      <div class="col-md-6">
        <label for="Hno" class="form-label">Description</label>
        <input type="text" class="form-control" id="Hno">
      </div>
      <div class="col-md-6">
        <label for="City" class="form-label">Total Reimbursement</label>
        <input type="text" class="form-control" id="City">
      </div>
      <div class="col-md-6">
          <label for="State" class="form-label">Conveyance Allowance</label>
          <input type="text" class="form-control" id="State">
        </div>
        <div class="col-md-6">
          <label for="Pincode" class="form-label">Total Hra</label>
          <input type="text" class="form-control" id="Pincode">
        </div>
        <div class="col-md-6">
            <label for="10th" class="form-label">Total Mediclain</label>
            <input type="text" class="form-control" id="10th">
          </div>
          <div class="col-md-6">
            <label for="12th" class="form-label">Other Component</label>
            <input type="text" class="form-control" id="12th">
          </div>
          <div class="col-md-6">
              <label for="Diploma" class="form-label">Total Paid</label>
              <input type="text" class="form-control" id="Diploma">
            </div>
            <div class="col-md-6">
              <label for="Degree" class="form-label">Total Deduction</label>
              <input type="text" class="form-control" id="Degree">
            </div>
    <div class="col-12">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
  