

.navbar-brand{
    width: 310px;
    height: 60px;
    padding-left: 6px;
    display: block;
    position: relative;
}
.span{
    margin-left: 26px;
    margin-top: 7px;
}
.navbar{
    height: 64px;
}