
<div class="container">
  <h2>Add Employee</h2>
  <form class="row margin g-3 my-1 bg-light text-dark w-30 p-2">
    <div class="col-md-6">
      <label for="inputFirstName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="inputFirstName">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="inputLastName">
    </div>
    <div class="col-md-6">
        <label for="inputPhone" class="form-label">Phone No.</label>
        <input type="text" class="form-control" id="inputPhone">
      </div>
      <div class="col-md-6">
        <label for="inputDepartment" class="form-label">Department</label>
        <input type="text" class="form-control" id="inputDepartment">
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col-md-6">
        <label for="inputProfile" class="form-label">Profile</label>
        <input type="password" class="form-control" id="inputProfile">
      </div>
      <!-- <h4>Employee Address:</h4> -->
      <span>Employee Address:</span>
      <div class="col-md-6">
        <label for="Hno" class="form-label">Hno.</label>
        <input type="text" class="form-control" id="Hno">
      </div>
      <div class="col-md-6">
        <label for="City" class="form-label">City</label>
        <input type="text" class="form-control" id="City">
      </div>
      <div class="col-md-6">
          <label for="State" class="form-label">State</label>
          <input type="text" class="form-control" id="State">
        </div>
        <div class="col-md-6">
          <label for="Pincode" class="form-label">Pincode</label>
          <input type="text" class="form-control" id="Pincode">
        </div>
        <!-- <h4>Employee Qualification:</h4> -->
        <span>Employee Qualification:</span>
        <div class="col-md-6">
            <label for="10th" class="form-label">10th</label>
            <input type="text" class="form-control" id="10th">
          </div>
          <div class="col-md-6">
            <label for="12th" class="form-label">12th</label>
            <input type="text" class="form-control" id="12th">
          </div>
          <div class="col-md-6">
              <label for="Diploma" class="form-label">Diploma</label>
              <input type="text" class="form-control" id="Diploma">
            </div>
            <div class="col-md-6">
              <label for="Degree" class="form-label">Degree</label>
              <input type="text" class="form-control" id="Degree">
            </div>
    <div class="col-12">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
  