/* .container{
    float: right;
    padding-left: 54px;
    margin-top: 10px;
    margin-right: 10px;
}
th,td{
    text-align: center;
}
.btn{
    padding-left: 5 ;
}
.left{
    margin-left: 40px;
}
.title{
    border-bottom: 1px solid orange;
}
 */
