<!-- 
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top me-auto ">
    <div class="container-fluid">
      <a class="navbar-brand">HRMS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/employee">EMPLOYEE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  routerLink="/leave">LEAVE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/project">PROJECT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/salary">SALARY</a>
          </li>
          
        </ul>
        <form class="d-flex">
          <div *ngIf="employee">
          <button type="button" class="btn btn-outline-success btn-sm"  (click)="showChildModal()">Add Employee</button>
        </div>
          <div *ngIf="leave">
          <button type="button" class="btn btn-outline-success btn-sm"  (click)="showChildModal()">Add Employeeddfgh</button>
        </div>
          <div class="btn-group" dropdown>
          <button id="button-basic" type="button"  dropdownToggle class="btn dropdown-toggle btn-outline-primary btn-sm"  aria-controls="dropdown-basic" >USER</button>

            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" routerLink="/login">Login</a></li>
              <li role="menuitem"><a class="dropdown-item" routerLink="/deshboard" >Logout</a></li>
              
            </ul>
          </div>

        </form>
      </div>
    </div>
  </nav> -->

  <nav class="navbar navbar-expand navbar-dark bg-secondary"> 
    <div class=" navbar-brand bg-primary">
      <h3 class="span">HRM System</h3>
 <!-- <span class="span">HRM System</span> -->
</div>
  <div class="side-nav-button p-2 text-light"><span><i class="fa-solid fa-bars" style="color: #0d6efd;" (click)="toggleSidebar()"></i></span></div>
  <!-- <div class="side-nav-button p-2 text-light"><span><button (click)="toggleSidebar()"><i class="fa-solid fa-bars" style="color: #0d6efd;"></i></button></span></div> -->
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <!-- <span><i class="fa-solid fa-user" style="color: #4d588f;"></i></span> -->
            <a class="nav-link dropdown-toggle text-dark" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span><i class="fa-solid fa-user" style="color: #4d588f;"></i></span>
              <span class="glyphicon glyphicon-user"></span> User
            </a>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
              <li><a class="dropdown-item" routerLink="/login"><span></span> Login</a></li>
              <li><a class="dropdown-item" routerLink="/deshboard"><span></span> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>